# Environment & Secrets
.env
*.env

# Generated data (re-created by the pipeline)


# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
